<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.2.1" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="SimpleInjector" version="3.2.2" targetFramework="net452" />
  <package id="Turner.Infrastructure" version="1.0.13" targetFramework="net452" />
</packages>